{% if data is not empty %}
<div class="widget-outer" style="
  display: flex;
  place-content: center;
  background-image: url('{{ plugin_path("KeepoalaWidget2") }}/images/DSC08320-scaled.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;">
		<div class="widget-inner" style="
		height: 100%;
		display:flex;
		align-content: center;
		align-items: center;
		align-self: center;">
			<div style="
			background: rgb(255, 255, 255) none repeat scroll 0% 0%;
			box-shadow: rgba(100, 100, 100, 0.5) 0px 6px 20px;
			margin: 2em;
			padding: 15px;
			text-align: left;
			display: flex;
			align-content: center;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;">
				<div>
					<a target="_new" href="http://localhost/enter-code/?code={{ keepoalaID }}" style="height: 120px;"><img src="{{ plugin_path("KeepoalaWidget2") }}/images/drawing.svg" style="/*! float: left; */ padding: 12px;height: 120px;" width="120px"></a>
				</div>
				<div>
					<a target="_new" href="http://localhost/enter-code/?code={{ keepoalaID }}" style="height: 120px;">
					<img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=http://localhost/enter-code/?code={{ keepoalaID }}" style="/*! float: left; */ padding: 12px;height: 120px;" width="120px"></a>
				</div>
 				<div style="min-width: 16em; margin-left:1em;">
 					<a target="_new" href="http://localhost/enter-code/?code={{ keepoalaID }}">Jetzt Keepoala Punkte sammeln</a>
 				</div>
 				<div style="color: rgb(108, 108, 108)">
		    	Wenn du von dieser Sendung nichts zurück schickst, erhälst du Keepoala Punkte. Diese kannst du
		    	gegen Gutscheine deiner Lieblingsshops oder für nachhaltiges Engagement einsetzen. Mit Keepoala kannst du der Umwelt helfen und dich gleichzeitig belohnen.
		    	</div>
		</div>
	</div>
</div>
{% endif %}