{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.component("Ceres::Customer.Components.AddressSelect.AddressHeader") }}
{{ Twig.component("Ceres::MyAccount.Components.ChangePaymentMethod") }}

{{ Twig.if("data.order is defined and data.order is not null") }}
<div class="widget-inner">
    <div class="h3">
        {{ Twig.trans("Ceres::Template.orderConfirmationOrderId") }} {{ Twig.print("data.order.id") }}
    </div>
</div>
{{ Twig.endif() }}